:root {
  --main: #324d7f;
  --mainlight: #68c3c4;
  --second: #941354;
  --secondlight: #f79a21;
  --lightsecond: #bb1859;
  --bglight: #fff;
  --bgalt: #f8f5f0;
  --bgalt2: #f4f2e3;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.scrollbox {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

}

.scrollbox::-webkit-scrollbar {
  display: none;
}

.mainframe {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;

  color: black;
}

.xltext{
  font-size: calc(1.375rem + 2vw);
  font-weight: bold;
  line-height:100%;
}
.anchor {
  position: relative;
}

.lightbg {
  background-color: var(--bglight) !important;
}

.altlightbg {
  background-color: var(--bgalt) !important;
}

.altlightbg2 {
  background-color: var(--bgalt2) !important;
}
.transparenbg{
  background-color: transparent;
}

.maxall {
  height: 100%;
  width: 100%;
}

.maxheight {
  height: 100%;
}

.standardimg {
  width: 100%;
  height: auto;
}


.section {
  min-height: 100vh;
}

.halfsection{
  min-height: 50vh;
}

.test {
  border: 1px solid black;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 80%;
}

.nav-link:hover{
  transition: 0.5s;
  background-color: black;
  box-shadow: 5px 5px #f79a21;
  transform: translate(-5px, -5px);
  color: white!important;
}

.nav-link{
  transition: 0.5s;
  border-radius: 0.5rem;
}

.active{
  background-color: black;
  color: white!important;
}



.speciatext {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 80%;
}

.iconimg{
  width: 70px;
  height: auto;
}
.topbaricon {
  height: 30px;
  width: auto;
  transition: 0.5s;
}

.topbaricon:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
}

.nostyle {
  background-color: transparent;
  box-shadow: none;
  border: none;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.buttonstyle1{
  cursor: pointer;
  border: 3px solid black;
  background-color: black;
  color: white;
  transition: 0.5s;
  border-radius: 0.5rem;
}

.buttonstyle1:hover{
  border: 3px solid black;
  background-color: black;
  color: white;
  box-shadow: 5px 5px #f79a21;
  transform: translate(-5px, -5px);
  transition: 0.5s;
}

.buttonstyle2{
  cursor: pointer;
  border: 3px solid transparent;
  background-color: transparent;
  color: black;
  transition: 0.5s;
  border-radius: 0.5em;
}

.buttonstyle2:hover{
  border: 3px solid black;
  background-color: black;
  color: white;
  box-shadow: 5px 5px #f79a21;
  transform: translate(-5px, -5px);
  transition: 0.5s;
}

.buttonstyle2active{
  border: 3px solid black;
  background-color: black;
  color: white;
  transition: 0.5s;
}

.clickable{
  cursor: pointer;
  transition: 0.5s;
}

.clickable:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

.clickablet2{
  cursor: pointer;
  transition: 0.5s;
}

.clickablet2:hover{
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px #f79a21;
  transition: 0.5s;
}

.clickablenoeffect{
  cursor: pointer;
}

.pillaricon{
  border-radius: 0.5em;
}

.blackbg {
  background-color: black;
  color: white;
}

.hideori {
  opacity: 0;
}

.hidetillscroll {
  opacity: 0;
}

.fadefromright1 {
  animation: 1s ease-in-out 0s 1 forwards SlideFromRight;
}

.fadefromleft1 {
  animation: 1s ease-in-out 0s 1 forwards slideInFromLeft;
}

.fadefromleft2 {
  animation: 1s ease-in-out 0.2s 1 forwards slideInFromLeft;
}

.fadefromleft3 {
  animation: 1s ease-in-out 0.4s 1 forwards slideInFromLeft;
}

.fadefromleft4 {
  animation: 1s ease-in-out 0.6s 1 forwards slideInFromLeft;
}

.fadefromtop1 {
  animation: 1s ease-in-out 0s 1 forwards slideInFromTop;
}

.fadefromtop2 {
  animation: 1s ease-in-out 0.2s 1 forwards slideInFromTop;
}

.fadefromtop3 {
  animation: 1s ease-in-out 0.4s 1 forwards slideInFromTop;
}

.fadefromtop4 {
  animation: 1s ease-in-out 0.6s 1 forwards slideInFromTop;
}

.fadein {
  animation: 1s ease-in-out 0s 1 forwards FadeIn;
}

.fadein2 {
  animation: 1s ease-in-out 0.2s 1 forwards FadeIn;
}

.fadein3 {
  animation: 1s ease-in-out 0.4s 1 forwards FadeIn;
}

.fadein4 {
  animation: 1s ease-in-out 0.6s 1 forwards FadeIn;
}

.fadeout {
  animation: 1s ease-in-out 0s 1 forwards FadeOut;
}

.fadetoright {
  animation: 1s ease-in-out 0s 1 forwards SlidetoRight;
}

.noticemeeffect {
  animation: 1s ease-in-out 0s infinite forwards slideInFromTop;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes SlidetoRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes SlideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;

  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;

  }

  100% {
    opacity: 0;

  }
}


@media only screen and (max-width: 330px) {
  .maxscreenwhensmall {
    width: 100%;
  }
}